/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #333333;
    color: #B2B2B2;
  }
  
  .navbar {
    background-color: #333333;
    border-bottom: 1px solid #4B4B4B;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    color: #BB86FC;
    cursor: pointer;
    transition: color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .navbar-logo:hover {
    color: #3700B3;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #BB86FC;
    border-radius: 5px;
    color: #BB86FC;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #BB86FC;
    color: #121212;
  }
  
  .navbar-button-register {
    background-color: #BB86FC;
    color: #121212;
  }
  
  .navbar-button-register:hover {
    background-color: #BB86FC;
    border-color: #BB86FC;
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
    }
  
    .navbar-logo {
      margin-bottom: 10px;
    }
  
    .navbar-links {
      gap: 10px;
    }
  }